---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
const pageTitle = "About Me";

const identity = {
    firstName: "João",
    country: "Brazil",
    occupation: "Analytics Engineer",
    hobbies: ["coding", "cooking"],
};

const skills = [
    "SQL",
    "Python",
    "HTML",
    "CSS",
    "JavaScript",
    "React",
    "Astro",
    "Airflow",
];
const skillColor = "navy";
---

<Layout title="About the Author">
    <html lang="en">
        <body>
            <h1>{pageTitle}</h1>
            <h2>
                This is my repository of knowledge for data analytics and other
                skills
            </h2>
            <p>
                This site will update as I learn new things, so keep checking back
                and see how my journey is going!
            </p>
            <p><strong>Here are a few facts about me:</strong></p>
            <ul>
                <li>My name is {identity.firstName}.</li>
                <li>
                    I live in {identity.country} and I work as a {
                        identity.occupation
                    }.
                </li>
                {
                    identity.hobbies.length >= 2 && (
                        <li>
                            Two of my hobbies are: {identity.hobbies[0]} and{" "}
                            {identity.hobbies[1]}
                        </li>
                    )
                }
            </ul>
            <p>My skills are:</p>
            <ul>
                {skills.map((skill) => <li class="skill">{skill}</li>)}
            </ul>
        </body>
    </html>
</Layout>
